*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
}

#greet{
  background-color: rgb(126, 126, 231);
  border-radius: 10px;
  margin: 20px;
  padding: 50px;
  color: white;
  font-size: bold;
}